
<div class="container">

<h2><img src="/images/png/sports.png"> <img src="/images/png/sports-2.png"> Your potential sweat buddies  <img src="/images/png/sport.png">  <img src="/images/png/gym.png"></h2>

  <ul id="matches">
  <% matches.each do |match| %>

    <li>
      <a href="/users/<%= match.id %>"><%= match.user_name %></a><br> You both like: 
      <% match.common_interests(current_user).each do |common| %>
        <span><%= common.name %></span>
      <% end %>
    </li>
    
  <% end %> 
  </ul>

</div>