
<div class="container" id="matches">
<div class="row" id="matchesHeading">
  <div class="col-md-8">
  <h3>Who is your new sweat buddy?</h3>
  <h3><img src="/images/png/mountain.png"> <img src="/images/png/gym.png"> <img src="/images/png/sports.png"> <img src="/images/png/sports-2.png"> <img src="/images/png/exercise-1.png"> <img src="/images/png/ice.png"> <img src="/images/png/exercise.png"> <img src="/images/png/sport.png"> <img src="/images/png/sports-1.png"></h3>
  </div></div>
  <div class="table-responsive col-md-8">
    <table class="table table-striped" id="matches">
      <thead>
        <th>Username</th>
        <th>Interests in Common</th>
      </thead>
      <tbody>
        <% matches.each do |match| %>
          <tr>
          <td><a href="/users/<%= match.id %>"><%= match.user_name %></a></td>
          <td><%= interests_list(match.common_interests(current_user)) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
