body {
  padding-top: 50px;
  height: 100%;
}


.carousel-inner img {
  width: 600px;
  margin: auto;
}


.jumbotron {
  text-align: center;
}


#profileCreate {
  padding-bottom: 30px;
}

#chooseInterests {
  padding-left: 20px;
}


footer {
  padding-top: 30px;
  position: relative;
  bottom: 0;
}

#matches li {
  padding: 10px;
  list-style-type: none;
  font-size: 1.5em;
}