body {
  padding-top: 50px;
}


.carousel-inner img {
  width: 600px;
  margin: auto;
}

#imageSlide {
}

.jumbotron {
  text-align: center;
}


#profileCreate {
  padding-bottom: 30px;
}

#chooseInterests {
  padding-left: 20px;
}


footer {
  padding-top: 30px;
}